

.body_container{
    composes:login_container from "./login.module.css";
    margin:20px auto;
 
background-color:white;
    height:70%;
    padding:20px;
   width:60%;

}


body{
    background-color: rgb(218, 218, 218);
}

@media screen and (max-width: 521px) {
    .body_container{
        width:87%;
     }
  }

