/* dashboard body content container */
.products_body{
    composes:body_container from "./common_styles.module.css";
        width:80%
}

/* show products conatiner */
.products_container{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center
}

.products_container > .product_card{
flex:32%;
 max-width:32%;
 min-height:200px;
 min-width: 256px
}

.products_container > .product_card:nth-child(even){
margin:0px 10px 0px 10px;
}

.product_card>section{
    padding:10px
}



@media screen and (max-width: 521px) {
    .container_content{
top:7%;
font-size: 1rem;
    }

.products_container{
        flex-direction: column;
       
    }
    .products_container > .product_card{
         max-width:100% 
        }
    .products_container > .product_card:nth-child(even){
        margin:10px 0px 10px 0px;
  
        }
  }


  /* add products  */

  .body_container{
    margin:20px auto;
background-color:white;
 padding:20px;
width:50%
}


.form_control:nth-child(1){
  flex-grow: 1;
}
.form_control:nth-child(2){
      flex-grow: 3;
}
.form_control:nth-child(3){
flex-grow: 1;
 }


.body_container>.save_btn{
  background-color: blueviolet;
padding:10px 20px;
color: white;
margin-right: 5px;
font-size:0.8em;
border: 1px solid blueviolet;
border-radius: 2px;
outline: none;
cursor: pointer;

}

.form_container{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
 }

.form_control > input[type="text"]{
  width:93%;
  height: 20px;
  padding:10px 0px 10px 5px;
  border: 1px solid;
  border-radius: 4px;
  margin: 10px 0px;
  font-size: 1.0em;
  outline: none
  }

@media screen and (max-width: 521px) {
  .body_container{
      width:87%;
   }
   .form_container{
       flex-direction: column
   }
   .form_control{
       width:100%
   }
}

